.all{
    width:100%;
}
.container{
    margin:20px auto;
    max-width:1430px;
    display:flex;
}
.aside{
    width:100%;
    max-width:220px;
    flex:0 0 auto;
    margin-right:20px;
}
.articles{
    background:#f2f3f4;
}
.recommanded{
    width:250px;
    background:#fff;
    margin-left:20px;
}